*.pyc
*.bak
*.zip
*.rar
*.7z
*.mp3
*.wav
*.sublime-workspace
.hg/
build/
*.hgignore
*.hgtags
*dist/
*.egg-info/
traceback.log
__pycache__/
# Added entries (1 items)
*sublime*

# Added entries (1 items)
*.py.1

# Added entries (1 items)
*.c

# Added entries (1 items)
*.pyd
